<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[ Introduce ]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/introduce.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
    </script>
    <style>
    </style>
</head>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/">logo</a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/fnq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의사항</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>
<form method="get" action="introduce">
	  <section id="headersection">
    <div class="container">
        <div id="bottom">
    <div id="gettoknowus">ITGO</div>
          <h2>ITGO는 학생들을 생각하여 만든 사이트입니다.<br>
온라인 교육 서비스 업계에서 최고가 될 때 까지 노력하겠습니다.</h2>
        </div>
      </div>
  </section>
  <section id="servicessection">
    <div class="container clearfix">
      <div class="services">

        <div class="servicetitle">About Us</div>
        <div class="serviceinformation">ITGO는 조장 박현준을 필두로 조원 강승호, 김도경, 엄정현으로 구성된 팀 프로젝트로 시작한 홈페이지였으며 한국에서 온라인 수업 서비스를 운영하는 회사입니다.</div>
      </div>
      <div class="services">
        <div class="servicetitle">Target</div>
        <div class="serviceinformation">온라인 수업 서비스로 IT입문자부터 IT전문가까지 모두가 배울 수 있는 환경을 조성하고 있습니다. IT에 대한 두려움으로 입문하지 못하는 사람들에게 보다 쉽게 알려주고 IT전문가가 될 때 까지 도와주는 사이트가 되도록 하겠습니다.</div>
      </div>
      <div class="services">
        <div class="servicetitle">Vision</div>
        <div class="serviceinformation">서비스 범위를 넓혀 모든 분야에서 활약하고 다양한 기술과 혁신으로 수많은 이용자와 파트너들이 함께 성장 할 수 있도록 노력하겠습니다.</div>
      </div>
    </div>
    </div>
  </section>
  <section id="team">
    <div class="container">
      <h1>ITGO의 방향</h1>
      <div id="row1" class="clearfix">
        <div class="team-member">
          <div class="employeeprofile">
            <div class="name">전문성
            </div>
            <div class="functiondescription">
              <p>우리 ITGO는 박현준 조장님이 지식과 노하우를 공유합니다. 당장 교육을 받지 못할 환경이라도 걱정하지 마세요. 천천히 하셔도 됩니다.
              </p>
            </div>
          </div>
        </div>

        <div class="team-member">
          <div class="employeeprofile">
            <div class="name">추구하는 바
            </div>
            <div class="functiondescription">
              <p>돈을 위해 만들기보다 올바르게 학생들이 나아갈 수 있도록 노력합니다. 학습자들이 모두 만족할 때 까지 노력하겠습니다.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="row2" class="clearfix">
        <div class="team-member">
          <div class="employeeprofile">
            <div class="name">경제적
            </div>
            <div class="functiondescription">
              <p>학습자들을 위해 경제적으로 부담을 주지 않기 위해 적은 비용으로 전문적인 지식을 습득할 수 있도록 노력하겠습니다.
              </p>
            </div>
          </div>
        </div>

        <div class="team-member">
          <div class="employeeprofile">
            <div class="name">사회기여
            </div>
            <div class="functiondescription">
              <p>ITGO는 지역사회 발전과 청년 취・창업 지원에 앞장서고, 사회적 약자들을 배려하는 기업문화를 만들어 가겠습니다.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>



	
	
</form>

<footer id="footers">여기에 footer 위치</footer>
</body>
</html>