<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[ Notification ]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
    </script>
    <style>
    .pageCounter {
    	text-decoration: none;
    	color: black;
    }
    .active {
    	font-weight: bold;
    	color: blue;
    }
    </style>
</head>
<header>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/">logo</a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/faq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의 게시판</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>

<h1>[ 공지사항 ]</h1>
<form method="get" action="notification">
    <input type="text" name="title_part">
    <input type="submit" value="제목검색">
</form>
<table>
	<tr>
		<th>번호</th>
		<th>제목</th>
		<th>작성자</th>
	</tr>
	<tr th:each="notification : ${notifications}">
		<td th:text="${notificationStat.count}+${navi.countPerPage*(navi.currentPage-1)}"></td>
		<td><a th:text="${notification.notification_title}" th:href="@{/readnotice/{notification_no}(notification_no=${notification.notification_no})}"></a></td>
		<td th:text="${notification.writer}"></td>
	</tr>
</table>

<div>
	<th:block th:if="${navi.currentPage} > 1">
		<a th:href="@{notification(page=${navi.currentPage - navi.pagePerGroup}, title_part=${title_part})}"><<</a>&nbsp;&nbsp;
		<a th:href="@{notification(page=${navi.currentPage - 1}, title_part=${title_part})}"><</a>&nbsp;&nbsp;
	</th:block>
	<th:block th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
		<a class="pageCounter" th:href="@{notification(page=${counter}, title_part=${title_part})}" th:text="${counter}" th:classappend="${counter}==${navi.currentPage} ? 'active' : ''"></a>
	</th:block>&nbsp;&nbsp;
	<th:block th:if="${navi.currentPage} < ${navi.totalPageCount}">
		<a th:href="@{notification(page=${navi.currentPage + 1}, title_part=${title_part})}">></a>&nbsp;&nbsp;
		<a th:href="@{notification(page=${navi.currentPage + navi.pagePerGroup}, title_part=${title_part})}">>></a>&nbsp;&nbsp;
	</th:block>
</div>

<footer id="footers">여기에 footer 위치</footer>
</body>
</html>