<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[ QNA ]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/board.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
    </script>
</head>
<body>

<header>
    <div class="topmenu upper">
		<div class="home"><a href="/">logo</a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/fnq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의사항</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>

<br><br><br><br>
<div id="skybox"></div>
<br>
<h1 class="Montserrat">문의사항</h1>

<form method="get" action="qna">
    <div class="wrapper">
        <div class="searchBar">
            <input id="searchQueryInput" type="text" name="title_part" placeholder="검색" value="" />
            <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                </svg>
            </button>
        </div>
    </div>
</form>

<div class="inner_cont">
    <div class="borad_list_tbl">
        <table>
            <colgroup>
                <col width="120"><col width="180"><col width="*">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col" width="400">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성날짜</th>
                </tr>
            </thead>
            <tbody>
  <tr th:each="qna : ${qnas}">
    <td th:text="${qnaStat.count + (navi.countPerPage * (navi.currentPage-1))}"></td>
    <td style="text-align:left;"><a th:text="${qna.qna_title}" th:href="@{/readqna/{qna_no}(qna_no=${qna.qna_no})}"></a></td>
    <td th:text="${qna.writer}"></td>
    <td th:text="${qna.qna_date}"></td>
  </tr>
</tbody>
</table>
</div>
</div>

<br>
<p>
	<div th:if="${session.loginMember}">
		<div class="buttonForm">
			<a onclick="location.href='/writeQna'">글쓰기</a>
		</div>
	</div>


<div class="page-box">
	<th:block th:if="${navi.currentPage > 1}">
	  <a class="btn" th:href="@{qna(page=${navi.currentPage - navi.pagePerGroup}, title_part=${title_part})}">&lt;&lt;</a>
	  <a class="btn" th:href="@{qna(page=${navi.currentPage - 1}, title_part=${title_part})}">&lt;</a>
	</th:block>
  <th:block th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
  <a class="btn number" th:href="@{qna(page=${counter}, title_part=${title_part})}" th:text="${counter}" th:classappend="${navi.currentPage == counter} ? 'current btn number on' : 'btn number'"></a>
  </th:block>
  <th:block th:if="${navi.currentPage < navi.totalPageCount}">
  <a class="btn" th:href="@{qna(page=${navi.currentPage + 1}, title_part=${title_part})}">&gt;</a>
  <a class="btn" th:href="@{qna(page=${navi.currentPage + navi.pagePerGroup}, title_part=${title_part})}">&gt;&gt;</a>
  </th:block>
</div>


<footer id="footers">여기에 footer 위치</footer>
</body>
</html>