<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${qna.qna_title}">[ QNA ]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
    </script>
    <style>
    .pageCounter {
    	text-decoration: none;
    	color: black;
    }
    .active {
    	font-weight: bold;
    	color: blue;
    }
    </style>
</head>
<header>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/">logo</a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/faq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의 게시판</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>

<h1>[ 문의글 읽기 ]</h1>
<form th:action="'/deleteQna/' + ${qna.qna_no}" method="post">
<table th:object="${qna}">
	<tr>
		<th>제목</th>
		<td th:text="*{qna_title}"></td>
	</tr>
	<tr>
		<th>내용</th>
		<td th:text="*{qna_contents}"></td>
	</tr>
	<tr>
		<th>작성자</th>
		<td th:text="*{writer}"></td>
	</tr>
	<tr>
		<th>작성일</th>
		<td th:text="*{qna_date}"></td>
	</tr>
</table>

<a th:if="${session.loginMember != null}">
	<th:block th:if="${session.loginMember.member_id == qna.writer}">
		<input type="button" th:onclick="|location.href='/updateQna/*{qna_no}'|" value="수정하기">
		<input type="submit" value="삭제하기">
	</th:block>
</a>

<br>
<br>
<br>
<br>
</form>
		
<table>
	<tr>
		<th>댓글 내용</th>
		<th>작성자</th>
	</tr>
	<tr th:each="reply : ${replies}">
		<td th:text="${reply.reply_contents}"></td>
		<td th:text="${reply.writer}"></td>
	</tr>
</table>

<div>
	<th:block th:if="${navi.currentPage > 1}">
  		<a th:href="@{{qna_no}(qna_no=${qna.qna_no}, page=${navi.currentPage - navi.pagePerGroup}, title_part=${title_part})}"><<</a>&nbsp;&nbsp;
  		<a th:href="@{{qna_no}(qna_no=${qna.qna_no}, page=${navi.currentPage - 1}, title_part=${title_part})}"><</a>&nbsp;&nbsp;
  	</th:block>
	<th:block th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
		<a th:href="@{{qna_no}(qna_no=${qna.qna_no}, page=${counter}, title_part=${title_part})}" th:text="${counter}" th:classappend="${counter}==${navi.currentPage} ? 'active' : ''"></a>
	</th:block>&nbsp;&nbsp;
	<th:block th:if="${navi.currentPage < navi.totalPageCount}">
		<a th:href="@{{qna_no}(qna_no=${qna.qna_no}, page=${navi.currentPage + 1}, title_part=${title_part})}">></a>&nbsp;&nbsp;
		<a th:href="@{{qna_no}(qna_no=${qna.qna_no}, page=${navi.currentPage + navi.pagePerGroup}, title_part=${title_part})}">>></a>&nbsp;&nbsp;
	</th:block>
</div>


<footer id="footers">여기에 footer 위치</footer>
</body>
</html>