<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${qna.qna_title}">[ QNA ]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/script.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
    </script>
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>

<header>
    <div class="topmenu upper">
		<div class="home"><a href="/"><img alt="메인로고" src="/img/mainlogo.png"></a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/fnq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의사항</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>

<br><br><br><br>
<div id="skybox"></div>
<br>
<form th:action="'/deleteQna/' + ${qna.qna_no}" method="post">
	
	<div th:object="${qna}">
		<div class="content">
		    <div class="link">
		      <a target="_blank">
		        <h1 th:text="*{qna_title}"></h1>
		      </a>
		    </div>
	    
	    <pre><p class="script" th:text="*{qna_contents}"></p></pre>
			<div class="linka">
				<a target="_blank">
					<h5>작성일 : [[*{#temporals.format(qna_date, 'yyyy-MM-dd &nbsp HH:mm')}]]</h5>
					<h5>작성자 : [[*{writer}]]</h5>
				</a>
			</div>
	  </div>
  </div>
	<div class="buttonOutForm">	
		<div style="display: inline-block; margin-left: 15%; float: left;" th:if="${session.loginMember != null}">
			<th:block th:if="${session.loginMember.member_id == qna.writer}">
					<div style="display: inline;" class="buttonForm">
	       			 	<a th:onclick="|location.href='/updateQna/*{qna_no}'|">수정하기</a>
	       			 	<input type="submit" value="삭제하기">
	  				</div>
			</th:block>
	  	</div>
		<div style="margin-right: 5%;" class="buttonForm">
			<input style="background: #3F3F48;" type="button" onclick="location.href='/qna'" value="목록으로">
		</div>
	</div>
</form>
	  <div class="outerComment">
        <div class="comment" th:each="reply : ${replies}">
            <div class="comment-author" th:text="${reply.writer}"></div>
            <div class="comment-text" th:text="${reply.reply_contents}"></div>
        </div>
      </div>	
<div class="page-box">
	<th:block th:if="${navi.currentPage > 1}">
	  	<a class="btn" th:href="@{{qna_no}(qna_no=${qna.qna_no}, page=${navi.currentPage - navi.pagePerGroup})}">&lt;&lt;</a>
	  	<a class="btn" th:href="@{{qna_no}(qna_no=${qna.qna_no}, page=${navi.currentPage - 1})}">&lt;</a>
	</th:block>
  	<th:block th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
  		<a class="btn number" th:href="@{{qna_no}(qna_no=${qna.qna_no}, page=${counter})}" th:text="${counter}" th:classappend="${navi.currentPage == counter} ? 'current btn number on' : 'btn number'"></a>
  	</th:block>
  	<th:block th:if="${navi.currentPage < navi.totalPageCount}">
		<a class="btn" th:href="@{{qna_no}(qna_no=${qna.qna_no}, page=${navi.currentPage + 1})}">&gt;</a>
	  	<a class="btn" th:href="@{{qna_no}(qna_no=${qna.qna_no}, page=${navi.currentPage + navi.pagePerGroup})}">&gt;&gt;</a>
  	</th:block>
</div>

<footer id="footers">여기에 footer 위치</footer>
</body>
</html>