<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[ QNA ]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/writeForm.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
    </script>
    <style>
    </style>
</head>
<body>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/"><img alt="메인로고" src="/img/mainlogo.png"></a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/fnq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의사항</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>
<form action="" method="post" th:object="${writeQna}">
    <div class="write-formOut">
        <div class="write-form">
            <div class="w-container promotion-container">
                <h1 class="section-title">QNA 작성</h1>
                <div class="title-underline"></div>
              </div>

                        <div class="input-field-wrapper login-wrapper">
                            <label>
                                제목 :
                                <input class="input-field" type="text" name="username" id="login" value="제목" th:field="*{qna_title}"/>
                                <div th:class="field-error" th:errors="*{qna_title}"></div>
                            </label>
                        </div>
                        <div>
                        </div>    
                        <label>
                            내용 :
                            <textarea th:field="*{qna_contents}" class="letter-textarea" rows="5" cols="76"  name="letter"></textarea>
                            <div th:class="field-error" th:errors="*{qna_contents}"></div>
                        </label>
                        <input type="submit" value="등록하기" class="btn-form">
                        <input type="button" onclick="location.href='/qna'" value="목록으로" class="btn-form2">

                </div> 
        </div><!--end wtite form-->
</form>

<footer id="footers">여기에 footer 위치</footer>
</body>
</html>