<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[ 과제게시판 - 읽기 ]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
    </script>
    <style>
    </style>
</head>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/">logo</a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/fnq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의 게시판</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>

<h1>[ 과제게시판 - 읽기 ]</h1>
	<form th:action="@{/subject/{subject_no}/assignment/delete/{assignment_no}(subject_no=${subject_no}, assignment_no=${assignment_no})}" method="post">
		<table th:object="${readAssign}">
			
			<tr>
				<th>제목</th>
				<td th:text="*{assignment_title}"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td th:text="*{assignment_contents}"></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td th:text="*{writer}"></td>
			</tr>
			<tr>
				<th>작성일</th>
				<td th:text="*{assignment_date}"></td>
			</tr>
			<tr>
				<th>점수</th>
				<td th:text="*{score}"></td>
			</tr>
		</table>
		 
		<table>
			<tr>
				<th>No</th>
				<th>파일명</th>
				<th>다운로드</th>
			</tr>
			 <tr th:each="file : ${files}">
				<th th:text="${fileStat.count}">No</th>
				<th th:text="${file.savedfile}">파일명</th>
				<th><a th:href="@{/subject/{subject_no}/assignment/read/{assignment_no}/download(subject_no=${subject_no}, assignment_no=${assignment_no})}">다운로드</a></th>
			</tr>
			 
		</table>
		<a th:if="${session.loginMember != null}">
			<th:block th:if="${session.loginMember.member_id == readAssign.writer}">
				<input type="button" th:onclick="|location.href='/subject/${subject_no}/assignment/update/${assignment_no}'|" value="수정하기"> 
				<input type="submit" value="삭제하기">
			</th:block>
		</a> 
		
		<!-- 과제를 읽는 곳에 댓글을 쓸 필요가 있는지? 점검.
		<table>
			<tr>
				<th>댓글</th>
				<th>작성자</th>
			</tr>
			<tr th:each="reply : ${replies}">
				<td th:text="${reply.reply_contents}"></td>
				<td th:text="${reply.writer}"></td>
			</tr>
		</table>
		 
			<div>
				<th:block th:if="${navi.currentPage > 1}">
			  		<a th:href="@{{assignment_no}(assignment_no=${assignment.assignment_no}, page=${navi.currentPage - navi.pagePerGroup})}"><<</a>&nbsp;&nbsp;
			  		<a th:href="@{{assignment_no}(assignment_no=${assignment.assignment_no}, page=${navi.currentPage - 1})}"><</a>&nbsp;&nbsp;
  				</th:block>

				<th:block th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
  					<a th:href="@{{assignment_no}(assignment_no=${assignment.assignment_no}, page=${counter})}" th:text="${counter}" th:classappend="${navi.currentPage == counter} ? 'current'"></a>
				</th:block>&nbsp;&nbsp; 
				
				<th:block th:if="${navi.currentPage < navi.totalPageCount}">
					<a th:href="@{{assignment_no}(assignment_no=${assignment.assignment_no}, page=${navi.currentPage + 1}, title_part=${title_part})}">></a>&nbsp;&nbsp;
					<a th:href="@{{assignment_no}(assignment_no=${assignment.assignment_no}, page=${navi.currentPage + navi.pagePerGroup})}">>></a>&nbsp;&nbsp;
				</th:block>
			</div>
			 -->
			<tr>
				<td colspan="2"><input type="button" th:onclick="|location.href='@{/subject/{subject_no}/assignment(subject_no=${subject_no})}'|" value="목록으로"></td>
			</tr>
	</form>

<footer id="footers">여기에 footer 위치</footer>
</body>
</html>