<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Join]</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/sign.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
        
        let isIdChecked = false;
        function formCheck(){
        	checkId();
        	
        	if(!isIdChecked){
        		alert("아이디 중복 확인을 해주세요");
        		return false;
        	}
        	
        	let member_id = $("#member_id").val();
        	if(member_id.length < 4 || member_id.length > 20){
        		alert("아이디는 4 ~ 20 사이여야 합니다");
        		return false;
        	}
        	
        	let member_password = $("#member_password").val();
        	if(member_password.length < 4 || member_password.length > 20){
        		alert("패스워드는 4 ~ 20 사이여야 합니다");
        		return false;
        	}
        	
        	let member_name = $("#member_name").val();
        	if(member_name.length < 2 || member_name.length > 50){
        		alert("이름은 2 ~ 50자리 사이여야 합니다");
        		return false;
        	}
        	
        	let member_email = $("#member_email").val();
        	if(member_email.length < 4 || member_email.length > 50){
        		alert("이메일은 4 ~ 50자리 사이여야 합니다");
        		return false;
        	}
        	return true;
        }
        
        function checkId() {
    		let member_id = $("#member_id").val();
    		
    		$.ajax({
    			url: "/members/checkId",
    			data: {"member_id": member_id},
    			success: function(data, success, xhr) {
    				console.log("success 호출");
    				console.log(data);
    				console.log(success);
    				console.log(xhr);
    				console.log(typeof(data));
    				if (data != "") {
    					console.log("이미 사용중인 아이디 입니다.");
    					isIdChecked = false;
    					$("#checkId").text("이미 사용중인 아이디 입니다.");
    				} else {
    					console.log("사용 가능한 아이디 입니다.");
    					isIdChecked = true;
    					$("#checkId").text("사용 가능한 아이디 입니다.");
    				}
    			},
    			error: function(xhr, status, error) {
    				console.log("error 호출");
    				console.log(xhr);
    				console.log(status);
    				console.log(error);
    			}
    		});
    		
    	}
        
    </script>
    <style>
    </style>
</head>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/">logo</a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/fnq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의 게시판</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>
	<div class="member-page">
		<div class="form">
			<h1>[ 회원가입 ]</h1>
			<form action="/members/join" th:method="post" th:object="${members}" onsubmit="return formCheck()">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
				</div>
				<div>
					<input type="text" th:field="*{member_id}" placeholder="아이디" />
					<button type="button" onclick="checkId()">아이디 중복 확인</button>
					<br>
					<br>
					<div id="checkId"></div>
					<div th:class="field-error" th:errors="*{member_id}"></div>
				</div>
				<br>
				<div>
					<input type="password" th:field="*{member_password}" placeholder="패스워드" />
					<div th:class="field-error" th:errors="*{member_password}" />
				</div>
				<div>
					<input type="text" th:field="*{member_name}" placeholder="이름" />
					<div th:class="field-error" th:errors="*{member_name}" />
				</div>
				<div>
					<input type="email" th:field="*{member_email}" placeholder="이메일" />
					<div th:class="field-error" th:errors="*{member_email}" />
				</div>
				<div>
					<input type="text" th:field="*{password_question}" placeholder="패스워드 찾기 질문" />
					<div th:class="field-error" th:errors="*{password_question}" />
				</div>
				<div>
					<input type="text" th:field="*{password_answer}" placeholder="패스워드 찾기 질문 답" />
					<div th:class="field-error" th:errors="*{password_answer}" />
				</div>
				<div>
					<button type="submit">가입하기</button>
				<br>
				<br>
				</div>
			</form>
		</div>
	</div>
<footer id="footers">여기에 footer 위치</footer>
</body>
</html>