<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[ Modify Password ]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
		document.addEventListener("DOMContentLoaded", function(){
			$("#footers").load("/footer.html");
		});

    </script>
    <style>

    </style>
</head>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/">logo</a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/fnq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의사항</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>
<div class="contents-container">
	<h1>[ 비밀번호 입력 ]</h1>
		<form action="" method="post" th:object=${modify}>
			<table>
				<tr>
					<th>아이디</th>
					<td th:text="${session.loginMember.member_id}"></td>
					<input type="hidden" name="member_no" th:value="${session.loginMember.member_no}">
				</tr>
				<tr>
					<th>비밀번호</th>
					<td>
						<input type="password" th:field="*{member_password}">
						<div th:errorClass="error" th:errors="*{member_password}">
					</td>
				</tr>
				<tr>
					<th>비밀번호 찾기 질문</th>
					<td>
						<input type="text" th:field="*{password_question}">
						<div th:errorClass="error" th:errors="*{password_question}">					
					</td>
				</tr>
				<tr>
					<th>비밀번호 찾기 답</th>
					<td>
						<input type="text" th:field="*{password_answer}">
						<div th:errorClass="error" th:errors="*{password_answer}">					
					</td>
				</tr>
				<tr>
					<th colspan="2"><input type="submit" value="확인"></th>
				<tr>
			</table>
		</div>
		</form>
</div>
<footer id="footers">여기에 footer 위치</footer>
</body>
</html>