<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[ Modify Password ]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sign.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
		document.addEventListener("DOMContentLoaded", function(){
			$("#footers").load("/footer.html");
		});

    </script>
    <style>

    </style>
</head>
<body>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/"><img alt="메인로고" src="/img/mainlogo.png"></a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/fnq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의사항</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>
<div class="member-page">
	<div class="form">
			  <div class="w-container promotion-container">
                <h1 class="section-title">비밀번호 정보 변경</h1>
                <div class="title-underline"></div>
              </div>
              <br>
		<form action="" method="post" th:object=${modify}>
			<input type="hidden" name="member_no" th:value="${session.loginMember.member_no}" />
			<div>
				<input type="password" th:field="*{member_password}" placeholder="변경할 패스워드" />
				<div th:errorClass="error" th:errors="*{member_password}" />
			</div>
			<div>
				<input type="text" th:field="*{password_question}" placeholder="변경할 패스워드 찾기 질문" />
				<div th:errorClass="error" th:errors="*{password_question}" />
			</div>
			<div>
				<input type="text" th:field="*{password_answer}" placeholder="변경할 패스워드 찾기 질문 답" />
				<div th:errorClass="error" th:errors="*{password_answer}" />
			</div>
			<button type="submit">등록</button>
			<br>
		</form>
	</div>
</div>

<footer id="footers">여기에 footer 위치</footer>
</body>
</html>