<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[ My Assignment ]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/board.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
    </script>
    <style>
    	a {
    		text-decoration: none;
    	}
    	.sub_container{
    		display: flex;
    		flex-wrap: wrap;
    	}
    	
    	.sub_container a{
    		text-decoration: none;
    	}
    	.sub_banner{
    		border: 1px solid;
    		background-color: blue;
    		color: white;
    		width: 100px;
    		height: 150px;
    	}
    </style>
</head>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/"><img alt="메인로고" src="/img/mainlogo.png"></a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/fnq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의사항</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>
<body>
<br><br><br><br>
<div id="skybox"></div>
<div style="margin-top: 15px; margin-left: 8%; font-size: 1.5em"><b>[[${subject.subject_title}]]</b></div>
<h1 class="Montserrat" style="margin-top: 5px; font-size: 3em">내가 제출한 과제</h1>
<!-- 
			<h2>
				<span>과목</span>[[${subject.subject_title}]]
			</h2>
			 
			<a th:href="@{/members/{subject_no}/myattendance(subject_no=${subject.subject_no})}">출석</a>
			-->
<div class="inner_cont">
    <div class="borad_list_tbl">
    	<table>
            <colgroup>
                <col width="120"><col width="180"><col width="*">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col" width="400">과제제목</th>
                    <th scope="col">제출파일</th>
                    <th scope="col">점수</th>
                    <th scope="col">과제제출일</th>
                </tr>
            </thead>
            <tbody>
            	<tr th:each="myassignment : ${assignments}">
   					<td th:text="${myassignmentStat.count + (navi.countPerPage * (navi.currentPage-1))}"></td>
    				<td style="text-align:left;"><a th:text="${myassignment.assignment_title}" th:href="@{/subject/{subject_no}/assignment/read/{assignment_no}(subject_no=${myassignment.subject_no}, assignment_no=${myassignment.assignment_no})}"></a></td>
    				<td th:text="${myassignment.originalfile}"></td>
    				<td th:text="${myassignment.score}"></td>
    				<td th:text="${myassignment.assignment_date}"></td>
 		 		</tr>
 		 	</tbody>
 		 </table>
 	</div>
</div>

<div class="page-box">
	<th:block th:if="${navi.currentPage > 1}">
		<a class="btn" th:href="@{myassignment(page=${navi.currentPage - navi.pagePerGroup}, subject_name=${subject_name})}">&lt;&lt;</a>
	  	<a class="btn" th:href="@{myassignment(page=${navi.currentPage - 1}, subject_name=${subject_name})}">&lt;</a>
	</th:block>
	<th:block th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
  		<a class="btn number" th:href="@{myassignment(page=${counter}, subject_name=${subject_name})}" th:text="${counter}" th:classappend="${navi.currentPage == counter} ? 'current btn number on' : 'btn number'"></a>
  	</th:block>
  	<th:block th:if="${navi.currentPage < navi.totalPageCount}">
  		<a class="btn" th:href="@{myassignment(page=${navi.currentPage + 1}, subject_name=${subject_name})}">&gt;</a>
  		<a class="btn" th:href="@{myassignment(page=${navi.currentPage + navi.pagePerGroup}, subject_name=${subject_name})}">&gt;&gt;</a>
  	</th:block>
</div>
		<div class="buttonForm" style="margin-right: 10%; margin-top: 2%;">
			<a th:href="@{/members/{subject_no}/myattendance(subject_no=${subject.subject_no})}">출석정보</a>
			<a th:href="@{/members/mylecture}" style="background: #3F3F48;">내 강의</a>
		</div>
		
		
<footer id="footers">여기에 footer 위치</footer>
</body>
</html>