<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[My Info]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
    </script>
    <style>
    .mypage_table {
    	display: table;
    	table-layout: fixed;
    	width: 100%;
    	
    }
    .mypage-info{
    	display: table-cell;
    	padding: 0 5%;
    	text-align: center;
    	height: 7em;
    	line-height: 7em;
    	
    }
    </style>
</head>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/">logo</a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/fnq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의 게시판</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>
<div class="contents-container">
	<h1>[ 내 정보 ]</h1>
		<table th:object="${myinfo}">
			<tr>
				<th>아이디</th>
				<td th:text="*{member_id}"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td th:text="*{member_name}"></td>
			</tr>
			<tr>
				<th>이메일</th>
				<td th:text="*{member_email}"></td>
			</tr>
		</table>
		<input type="button" value="회원정보 수정" onclick="location.href='/members/modifyinfo'">	
		<input type="button" value="돌아가기" onclick="location.href='/members/mypage'">
</div>
<footer id="footers">여기에 footer 위치</footer>
</body>
</html>