<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[My Page]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
    </script>
    <style>
    .mypage_table {
    	display: table;
    	table-layout: fixed;
    	width: 100%;
    	
    }
    .mypage-info{
    	display: table-cell;
    	padding: 0 5%;
    	text-align: center;
    	height: 7em;
    	line-height: 7em;
    	
    }
    </style>
</head>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/">logo</a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/faq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의 게시판</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>
<div class="contents-container">
	<span th:if="${session.loginMember}" > <!-- interceptor 적용하면 없어도 됨 -->
		<h2 style="text-align: center; width: 100%;">[[${session.loginMember.member_name}]] 님 환영합니다.</h2>
	</span>
	<div class="mypage_table">
		<div class="mypage-info"><a href="/members/myinfo"><div>내정보</div></a></div>
		<div class="mypage-info"><a href="/members/modifypass"><div>암호변경</div></a></div>
		<div class="mypage-info"><a href="/members/mylecture"><div>내강의</div></a></div>
		<div class="mypage-info"><a class="mypage-link" href="/logout"><div>로그아웃</div></a></div>
</div>
</div>

<footer id="footers">여기에 footer 위치</footer>
</body>
</html>