<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.lms.repository.AttendanceMapper">

	<!-- 출석체크 테이블 찾기 -->
	<select id="findAttendance" resultType="attendance">
		select * from attendance
		<where>
			member_id = #{member_id}
			<if test='lecture_no != null and lecture_no != ""'>
				and lecture_no = #{lecture_no}
			</if>
		</where>
	</select>

	<!-- 출석체크 테이블 만들기 -->
	<insert id="createAttendance">
		<selectKey keyProperty="attendance_no" resultType="long" order="BEFORE">
			select seq_member.nextval from dual
		</selectKey>
		insert into attendance (
			attendance_no,
			subject_no,
			lecture_no,
			member_id,
			video_length
		) values (
			#{attendance_no},
			#{subject_no},
			#{lecture_no},
			#{member_id},
			#{video_length}
		)
	</insert>

	<!-- 업데이트 하기 attend_check가 YES 혹은 NO일 때에만 수정이 일어나도록.
	Check조건이 있어서 YES/NO가 아니면 오라클에서 오류가 일어남 -->
	<update id="updateAttendance">
		update attendance
		<set>
			accumulate_time = #{accumulate_time},
			<if test='attend_check == "YES" or attend_check == "NO"'>
				attend_check = #{attend_check}
			</if>
		</set>
		where attendance_no = #{attendance_no}
	</update>

	<!-- 이어보기 저장하기 -->
	<update id="setContinuePoint">
		update attendance
		<set>
			accumulate_time = #{accumulate_time},
			video_point = #{video_point}
		</set>
		where attendance_no = #{attendance_no}
	</update>
</mapper>