<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${notification.notification_title}">[ QNA ]</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/script.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
    </script>
    <style>
    </style>
</head>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/"><img alt="메인로고" src="/img/mainlogo.png"></a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?category_name=JAVA">JAVA</a></li>
              <li><a href="/subject?category_name=HTML">HTML</a></li>
              <li><a href="/subject?category_name=DATABASE">DATABASE</a></li>
              <li><a href="/subject?category_name=PYTHON">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="/fnq">고객센터</a>
            <ul class="submenu">
              <li><a href="/fnq">자주 묻는 질문</a></li>
              <li><a href="/qna">문의사항</a></li>
              <li><a href="/policy">이용약관</a></li>
            </ul>
          </li>
          <li><a href="/members/mypage">마이페이지</a>
            <ul class="submenu">
              <li><a href="/members/myinfo">내정보</a></li>
              <li><a href="/members/modifypass">암호변경</a></li>
              <li><a href="/members/mylecture">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>
	<div class="container">
		<div class=side_wrap>
			<h2>
				<span>과목</span>[[${subject.subject_title}]]
			</h2>
			<div class="side_menu">
				<dl>
					<dt>
						<a th:href="@{/subject/{subject_no}/notification(subject_no=${subject.subject_no})}">공지사항</a>
					</dt>
					<dt>
						<a th:href="@{/subject/{subject_no}/lecture(subject_no=${subject.subject_no})}">강의게시판</a>
					</dt>
					<dt>
						<a th:href="@{/subject/{subject_no}/assignment(subject_no=${subject.subject_no})}">과제게시판</a>
					</dt>
					<dt>
						<a th:href="@{/subject/{subject_no}/qna(subject_no=${subject.subject_no})}">질문게시판</a>
					</dt>
					
					<th:block th:if="${applyLecture == null}">
					<dt>
						<a th:href="@{/subject/{subject_no}/apply(subject_no=${subject.subject_no})}" onclick="return confirm('이 강의를 수강신청 하시겠습니까?')">수강신청</a>
					</dt>
					</th:block>
				</dl>
			</div>
		</div>

		<div class="contents">
			<div th:object="${notification}">
				<div class="content">
					<div class="link">
				      <a target="_blank">
				        <h1 th:text="*{notification_title}"></h1>
				      </a>
				    </div>
				    <p class="script" th:text="*{notification_contents}"></p>
					<div class="linka">
						<a target="_blank">
							<h5>작성자 : [[*{writer}]]</h5>
						</a>
					</div>
				</div>
			</div>
			<div class="buttonOutForm">
				<div class="buttonForm">
					<a th:onclick="|location.href='@{/subject/{subject_no}/notification(subject_no=${subject_no})}'|">목록으로</a>
				</div>
			</div>
		</div>
	</div>

<footer id="footers">여기에 footer 위치</footer>
</body>
</html>