@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

	h2{
	background-color: #dcdcdc;
	padding: 20px;
	margin: auto;
	}
	img{
        width:25%;
        padding: 5px;
        margin: 5px;
      }
      table{
        margin: auto;
        text-align: center;
      }
      td{
        border: 2px solid;
      }
	#contents{
	display:block;
	}